body {
  background-color: green;
}
table {
  width: 100%;
  background: deeppink;
  border-radius: 25px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 50px;
}
th {
  text-align: left;
  color: yellow;
}
a:link{
  color:red;
}
a:visited{
  color:blue;
}
a:hover{
  color:black;
}
a:active{
  color:white;
}
